:root {
	--BGColor: rgba(18, 30, 38, 255);
	--AccentColor: rgba(221, 205, 198, 255);
}

body {
	background-color: var(--BGColor);
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	color: var(--AccentColor);
}

/* Header */

#header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-end;
	text-align: center;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 2px solid var(--AccentColor);
}

#navbar {
	display: inline-flex;
	margin-right: auto;
	gap: 10px;
	margin-left: 15%;
	padding: 5px;
}

#nav-link1, #nav-link2 {
	color: var(--AccentColor);
}

#header-image {
	width: max(20vw, 300px);
}

/* Article Page */
.article-container {
	display: grid;
	align-items: center;
	text-align: center;
	grid-template-areas:
		"topic topic topic topic "
		"title title title title"
		"author author author author "
		"body body body body"
		"pic pic pic pic"
		"pic pic pic pic"
		". votes comm .";
	gap: max(10px, 2vw);
}

@media only screen and (min-width: 600px) {
	#article-image {
		max-width: 75%;
		justify-self: center;
	}
}

#article-author {
	font-size: max(2vw, 1rem);
	grid-area: author;
	text-align: center;
}

#article-topic {
	justify-self: justify;
	grid-area: topic;
	padding-left: 5%;
	font-size: 1rem;
}

#article-title {
	grid-area: title;
}

#article-body {
	font-size: max(2vw, 1.25rem);
	grid-area: body;
}

#article-votes {
	grid-area: votes;
}

#article-comment-count {
	grid-area: comm;
}

#article-image {
	grid-area: pic;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	border-radius: 10%;
}

/* Article Comments */

.comment-list {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 0px 15px;
}

.comment-card {
	display: grid;
	gap: 5px;
	padding: 15px;
	border: 2px solid white;
	border-radius: 25px;
	grid-template-columns: 1fr 15fr;
	grid-template-areas:
		"user votes time"
		"body body  body";
}

.comment-time {
	grid-area: time;
}
.comment-author {
	grid-area: user;
}
.comment-body {
	grid-area: body;
}
.comment-votes {
	grid-area: votes;
	display: flex;
	align-items: flex-end;
	margin-right: auto;
	gap: 4px;
}

.comment-thumb-up :hover,
.comment-thumb-down :hover {
	transition-duration: 0.2s;
	color: black;
}

.btn {
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.5;
	padding: 8px 16px;
	border-radius: 8px;
	color: var(--BGColor);
	background-color: var(--AccentColor);
	transition: all 150ms ease;
	cursor: pointer;
	align-self: center;
}

.btn:hover {
	box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px,
		rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px,
		rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px,
		rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px,
		rgb(255, 85, 85) 40px -40px;
	transform: scale(1.15);
}

.btn:disabled {
	background-color: grey;
	color: firebrick;
	transform: scale(1);
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
		rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
		rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
		rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
		rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.comment-adder {
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 1rem;
	margin-bottom: 2rem;
}

.comment-text-box {
	font-size: x-large;
	color: black;
	width: 70%;
}

/* Article List + Card */

#article-list-header {
	text-align: center;
}

#article-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	gap: 2rem;
}

.article-card {
	max-width: max(400px, 30%);
	padding: 10px;
	margin: 10px;
	border: 1px solid var(--AccentColor);
	background-color: #313b4a;
	border-radius: 25px;
	justify-items: center;
	display: grid;
	text-align: center;
	grid-template-areas:
		"title title title title"
		"author author topic date"
		"pic pic pic pic"
		"pic pic pic pic"
		"votes votes comments comments";
	gap: 15px;
}

.article-card-title {
	grid-area: title;
	justify-self: center;
	font-size: max(1.5rem, 2vw);
}

.article-card-author {
	grid-area: author;
}

.article-card-topic {
	grid-area: topic;
}

.article-card-votes {
	grid-area: votes;
}

.article-card-comment-count {
	grid-area: comments;
}

.article-card-date {
	grid-area: date;
	justify-self: end;
	padding-right: 5px;
}

.article-card-img {
	box-sizing: border-box;
	width: 75%;
	justify-self: center;
	height: auto;
	grid-area: pic;
	padding: 5px;
	border-radius: 25px;
}


/* Search Canvas & Search Options */

#search-canvas {
	background-color: var(--BGColor);
	color: var(--BGColor);
}
#search-category {
	background-color: var(--AccentColor);
	padding: 15px;
	margin: 5px;
}

.col {
	text-align: center;
}

#search-button {
	margin: 15px;
	align-content: center;
}